.artist-heading {
  display: flex;
}

.ArticleDetail-main {
  display: flex;
}

.artist-heading {
  border: solid 3px green;
}

.sidebar-container {
  border: solid 3px red;
}

.content-container {
  border: solid 3px blue;
}