* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Home {
  text-align: center;
  background-color: #1a1a1a;
}

.Home-header {
  background-color: #1a1a1a;
}

.Home-main {
  text-align: center;
  background-color: #eee;
}