.AllBoxes {
  display: grid;
  /* max-width: 1200px; */
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
  background-color: #1a1a1a;
  padding: 2rem 0rem 2rem 0rem;
}