.Navbar-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1rem;
  background-color: #1a1a1a;
  border-bottom: solid 1px #d9d9d9;
}

.nav-links {
  display: flex;
  margin: 0rem 1rem;
  text-decoration-style: none;
  list-style: none;
}

.Navbar-main a {
  text-decoration: none;
  margin: 1rem;
  color: #d9d9d9;
}

.nav-search-img {
  height: 1.5rem;
  width: 100%;
}