* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1a1a1a;
}

.App-main {
  background-color: #eee;
}

.headerParent {
  display: flex;
  justify-content: space-around;
  height: 80vh;
  padding: 1em;
}

.headerText {
  width: 40%;
}

.headerImage {
  width: 40%;
  height: auto;
  object-fit: cover;
}
