* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #1a1a1a;
}

.App-header {
  background-color: #1a1a1a;
}

.App-main {
  background-color: #eee;
}
